.home-page{
    background-color: orange;
    width: 1439px;
    height: 416px;
    border: 1px solid orange;
    

}

.home-h1{
    width: 250px;
    padding: 140px 0px 20px 80px;
    
}


.home-paragraph{
    width: 350px;
    margin: 10px 0px 0px 80px;
}

